body {
  background-color: rgb(211, 207, 207);
}

h1 {
  margin-top: 30px;
  text-align: center;
}

.quote-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin: 10% auto;
  box-sizing: border-box;
  width: 45%;
  border: solid #5b6dcd 1px;
  border-radius: 4px;
  padding: 5px;
}

i {
  font-size: 35px;
}

.quote-icon {
  font-size: 18px;
  margin: 0 10px;
}

#new-quote {
  font-size: 15px;
  padding: 3px;
  margin-bottom: 14px;
}
